/* general formatting */

* {
	margin: 0px;
	padding: 0px;
	}

p {
	text-align: justify;
	}

/* formats for fixed area colored lines at top of page */
	
#orangeline { /* Botchan color */
	border-bottom: 5px solid rgb(206,69,18);	
	}
	
#lilacline { /* SanshirÅ color */
	border-bottom: 5px solid rgb(104,37,206);	
	}	

#tanline { /* Kokoro color */
	border-bottom: 5px solid rgb(153,102,51);	
	}	

#greenline { /* Neko color */
	border-bottom: 5px solid rgb(19,108,34);
	}

/* formats for contents pages */
		
span.secnumbers {
	font-size: 12px;
	}
	
/* formats for chapter text pages */
	
p.japanese {
	text-align: justify;
	clear: left;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	}
	
/* new styles added in 2019 to support mobile-friendly formatting */

body.constrain_width {
	display: flex;
	justify-content: center;
	background-color: whitesmoke;
	}
body.constrain_width > * {
	max-width: 1200px;
	width: 98%;
	}
header.chapter_page {
	position: fixed;
	top: 0;
	background: whitesmoke;
	z-index: 10;
	}
h1.page_title {
	text-align: center;
	margin-top: 5px;
	font-size: 24px;
	padding-bottom: 5px;
	border-bottom: 5px solid rgb(0,0,0);
	margin-bottom: 5px;
	height: 40px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	}
ul.nav_menu {
	list-style-type: none;
	display: flex;
	height: 42px;
	overflow-x: auto;
	overflow-y: hidden;
	}
ul.nav_menu li a {
	text-decoration: none;
	display: block;
	white-space: nowrap;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 4px;
	margin: 4px;
	border: 1px solid;
	border-radius: .25em;
	}
ul.nav_menu li a:link, ul.nav_menu li a:visited {
	color: #888;
	}
ul.nav_menu li a:focus, ul.nav_menu li a:hover, ul.nav_menu li a:active {
	color: #000;
	}
span.vocab_area {
	margin: 4px;
	height: 80px;
	display: flex;
	align-items: center;
	background-color: #eee;
	border-radius: 5px;
	margin-bottom: 10px;
	}
p.vocab_prompt {
	color: #aaa;
	padding: 0 10px;
	overflow: hidden;
	}
div.chapter_text {	
	font-size: 20px;
	margin: 200px 20px 0;
	}
div.chapter_text span.vocab {
	border-bottom: 1px solid #ccc;
	position: relative;
	}
div.chapter_text span.vocabdef {
	position: fixed;
	display: block;
	visibility: hidden;
	z-index: 20;
	border-radius: 5px;
	width: 96%;
	max-width: 1180px;
	height: 70px;
	line-height: 40px;
	padding: 5px 10px;
	top: 107px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 20px;
	overflow: hidden;
	}
div.orange_vocab_bar span.vocabdef {
	background-color: rgb(255, 224, 176);
	}
div.lilac_vocab_bar span.vocabdef {
	background-color: rgb(204, 177, 255);
	}
div.tan_vocab_bar span.vocabdef {
	background-color: rgb(225, 178, 121);
	}
div.green_vocab_bar span.vocabdef {
	background-color: rgb(188, 235, 141);
	}
div.blue_vocab_bar span.vocabdef {
	background-color: rgb(185, 213, 255);
	}
div.chapter_text span.vocab:hover span.vocabdef {
	visibility: visible;
	}
ul.section_break {
	list-style-type: none; 
	font-size: 16px; 
	color: #888; 
	display: flex; 
	justify-content: center; 
	align-items: center;
	flex-wrap: wrap;
	}
ul.section_break li a.study_guide {
	margin: 0 30px;
	}
ul.section_break li a:link, ul.section_break li a:visited {
	color: #888;
	}
ul.section_break li a:focus, ul.section_break li a:hover, ul.section_break li a:active {
	color: #000;
	}

/* new css unique to study guide pages */

ul.extra_space {
	margin-bottom: 5px;
	}
div.study_guide_wrapper {	
	font-size: 20px;
	margin: 110px 20px 0;
	}
h2.study_guide_sub {
	font-size: 20px;
	margin: 10px 0;
	}
div.practice_text {
	font-size: 20px;
	margin: 10px 0 20px;
	}
div.rough_translation {
	font-size: 18px;
	margin: 10px 0 20px;
	}
div.rough_translation p {
	margin: 10px 0;
	}
div.vocab_list {
	font-size: 20px;
	margin: 10px 0 0;
	}
div.vocab_list span.vocabdef {
	display: block;
	clear: left;
	}

/* resizing of text (larger) and vocab bar (narrower) for wider screens */

@media screen and (min-width: 800px) {
	ul.nav_menu li a {
		font-size: 16px;
		}
	span.vocab_area {
		height: 40px;
		}
	div.chapter_text {
		margin: 160px 20px 0;
		}
	div.chapter_text span.vocabdef {
		height: 30px;
		}
	}
